.board-wrapper {
    position: relative;
    width: 100%;
}

.board-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.board-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
    background: #009688;
}

.board .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.board .bg .img {
    width: 100%;
    height: 100%;
}

.board .grid {
    position: relative;
    display: grid;
    border: 1px solid white;
}

.cell {
    border: 1px solid white;
    padding: 5px;
}

.chip {
    display: block;
    filter: drop-shadow(2px 2px 2px #000);
}